doctype html
html(lang=siteConf.language)
  head
    title #{siteConf.title} #{pageConf.title}
    meta(name="description" content=pageConf.description || siteConf.description)
    meta(name="keywords" content=[...pageConf.keywords, ...siteConf.keywords].join(", "))
    meta(name="author" content=siteConf.author)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Security-Policy" content=csp)
    meta(name="robots" content=(siteConf.allowRobots && pageConf.allowRobots ? "nofollow, noarchive, nositelinkssearchbox, notranslate" : "none"))
    | !{faviconHtml}
    style
      each fontKey in ["logo", "head", "subhead", "bodyNorm", "bodyEmph"]
        - const font = res.fonts[fontKey]
        | @font-face {
        |   font-family: '#{fontKey}';
        |   src: #{['woff2', 'woff'].map(fmt => `url('${font[`${fmt}Url`]}') format('${fmt}')`).join(", ")};
        |   font-display: block;
        | }
    style #{res.styles.page.inline}
    noscript 
      style #{res.styles.noscript.inline}
  body
    #loading
      #loading-content !{res.icons.loading.inline}
    header#header
      a(href='/')
        h1#logo #{text("logo", siteConf.title.toLowerCase())}
    main#main(role="main")
      ul#pages
        each page in pages
          li.page
            header.header
              h2.title #{text("head", pageConf.title)}
              if pageConf.subtitle
                h3.subtitle #{text("subhead", pageConf.subtitle)}
              if pageConf.date
                .date #{new Date(pageConf.date).toLocaleDateString("it-IT", { year: 'numeric', month: 'long', day: 'numeric' })}
            if page.bodyHtml
              !{page.bodyHtml}
    footer#footer
      #author #{text("logo", siteConf.author)}
  script(src=res.scripts.page.url)
  if devScript !== null
    script
      | !{devScript}