doctype html

mixin run(children)
  each ch in children
    case ch.kind
      when "span"
        case ch.format
          when "normal"
            span #{text("bodyNorm", ch.text)}
          when "emphasized"
            emph #{text("bodyEmph", ch.text)}
      when "footnoteLink"
        - const i = body.footnotes.findIndex(fn => fn.key === ch.key)
        - const idx = i + 1
        a.footnote-link(tabIndex=-1 id=`fnl-${idx}` href=`#fn-${idx}` data-index=idx)
          sup #{text("bodyNorm", idx)}

mixin paragraph(paragraph)
  case paragraph.format
    when "normal"
      p
        +run(paragraph.children)
    when "quote"
      blockquote
        +run(paragraph.children)

mixin img(sources, alt)
  - function onerror(fallbacks) {
  -   if (fallbacks.length === 0) return "";
  -   return `this.onerror=function(){${onerror(fallbacks.slice(1))}};this.src='${fallbacks[0].uri}';this.width=${fallbacks[0].info.width};this.height=${fallbacks[0].info.height};`
  - }
  img(src=sources[0].uri onerror=onerror(sources.slice(1)) alt=(alt || '') loading='lazy' width=sources[0].info.width height=sources[0].info.height)


mixin media(element)
  case element.kind
    when "video"
      figure
        video(width=element.sources[0].width height=element.sources[0].height muted=!element.sources[0].audio controls=element.manual autoplay=!element.manual playsinline=!element.manual disablepictureinpicture loop=!element.manual poster=element.thumbnails[0].uri)
          each src in element.sources
            source(src=src.uri type=src.info.type)
        if element.caption
          figcaption 
            +run(element.caption)
    when "image"
      figure
        +img(element.sources, element.alt)
        if element.caption
          figcaption 
            +run(element.caption)


mixin element(element)
  case element.kind
    when "paragraph"
      +paragraph(element)
    when "mediaBox"
      .inline(data-float=element.float data-offset=element.offset)
        +media(element.child)
    when "video"
    when "image"
      +media(element)


html(lang=siteConf.language)
  head
    title #{siteConf.title}: #{pageConf.title}
    meta(name="description" content=pageConf.description || siteConf.description)
    meta(name="keywords" content=[...pageConf.keywords, ...siteConf.keywords].join(", "))
    meta(name="author" content=siteConf.author)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="robots" content=(siteConf.allowRobots && pageConf.allowRobots ? "nofollow, noarchive, nositelinkssearchbox, notranslate" : "none"))
    | !{faviconHtml}
    style
      each fontKey in ["logo", "head", "bodyNorm", "bodyEmph"]
        - const font = res.fonts[fontKey]
        | @font-face {
        |   font-family: '#{fontKey}';
        |   src: #{['woff2', 'woff'].map(fmt => `url('${font[`${fmt}Url`]}') format('${fmt}')`).join(", ")};
        |   font-display: block;
        |   font-style: normal;
        |   font-weight: 400;
        | }
    style #{res.styles.main.inline}
    noscript 
      style
        | body {
        |   overflow-y: scroll;
        | }
        | #main {
        |   display: block;
        |   animation-play-state: running;
        |   animation-delay: 0s;  
        |   pointer-events: auto;
        | }
        | #loading {
        |   display: none;
        | }
  body
    #loading
      #loading-content
        | !{res.icons.loading.inline}
    main#main
      section.header
        h1.logo #{text("logo", siteConf.title.toLowerCase())}
        h2.title #{text("head", pageConf.title)}
      section.body
        each el in body.main
          +element(el)
      if body.footnotes.length > 0
        section.footnotes
          each fn, i in body.footnotes
            - const idx = i + 1
            .footnote(data-index=idx id=`fn-${idx}`)
              .footnote-head
                a.footnote-rlink(tabindex=-1 href=`#fnl-${idx}` data-index=idx)
                  sup #{idx}
              .footnote-body
                +element(fn.child)
      if body.credits.length > 0
        section.credits
          each cr in body.credits
            .credit
              +run(cr)
      section.author #{text("logo", siteConf.author)}
  script(src=res.scripts.main.url)