mixin run(children)
  each ch in children
    case ch.kind
      when "span"
        case ch.format
          when "normal"
            span #{text("bodyNorm", ch.text)}
          when "emphasized"
            emph #{text("bodyEmph", ch.text)}
      when "footnoteLink"
        - const i = body.footnotes.findIndex(fn => fn.key === ch.key)
        - const idx = i + 1
        a.footnote-link(tabIndex=-1 id=`fnl-${idx}` href=`#fn-${idx}` data-index=idx)
          sup #{text("bodyNorm", idx)}

mixin paragraph(paragraph)
  case paragraph.format
    when "normal"
      p
        +run(paragraph.children)
    when "quote"
      blockquote
        +run(paragraph.children)

mixin element(element)
  case element.kind
    when "paragraph"
      +paragraph(element)

doctype html
html(lang= siteConf.language)
  head
    title #{siteConf.title}: #{pageConf.title}
    meta(name="description" content=pageConf.description || siteConf.description)
    meta(name="keywords" content=[...pageConf.keywords, ...siteConf.keywords].join(", "))
    meta(name="author" content=siteConf.author)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="robots" content=(siteConf.allowRobots && pageConf.allowRobots ? "nofollow, noarchive, nositelinkssearchbox, notranslate" : "none"))
    | !{faviconHtml}
    style
      each fontKey in ["logo", "head", "bodyNorm", "bodyEmph"]
        - const font = res.fonts[fontKey]
        | @font-face {
        |   font-family: '#{fontKey}';
        |   src: #{['woff2', 'woff'].map(fmt => `url('${font[`${fmt}Url`]}') format('${fmt}')`).join(", ")};
        |   font-display: block;
        |   font-style: normal;
        |   font-weight: 400;
        | }
    style #{res.styles.main.inline}
  body
    main
      section.header
        h1.logo #{text("logo", siteConf.title.toLowerCase())}
        h2.title #{text("head", pageConf.title)}
      section.body
        each el in body.main
          +element(el)
      if body.footnotes.length > 0
        section.footnotes
          each fn, i in body.footnotes
            - const idx = i + 1
            .footnote(data-index=idx id=`fn-${idx}`)
              .footnote-head
                a.footnote-rlink(tabindex=-1 href=`#fnl-${idx}` data-index=idx)
                  sup #{idx}
              .footnote-body
                +element(fn.child)
      if body.credits.length > 0
        section.credits
          each cr in body.credits
            .credit
              +run(cr)
      section.author #{text("logo", siteConf.author)}